/* @font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai/Almarai-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai/Almarai-Bold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai/Almarai-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'SF UI Display';
  font-weight: 500;
  src: url('/fonts/SF-UI-Display/sf-ui-display-medium-58646be638f96.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-weight: 700;
  src: url('/fonts/SF-UI-Display/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
} */